body {
  background: #f5f5f5;
  color:#333;
  font-size: 14px;
}

div#wrapper {
    width: 1226px; 
    margin: 0 auto;
    padding: 50px 0;
}

.box-bd {
  position: relative;
}

.box-bd > .title {
    font-size: 22px;
    line-height: 58px;
}

.box-bd > .refresh {
    position: absolute;
    right: 0;
    top: 30;
}

.refresh a:hover {
    color: #ff6700;
}

.refresh a {
    color: #333;
    text-decoration: none;
}

ul {
    list-style: none;
    width: 100%;
}

li.video-item:first-child {
  margin-left: 0;
}

li.video-item {
    position: relative;
    float: left;
    width: 296px;
    height: 285px;
    margin-left: 14px;
    margin-bottom: 14px;
    text-align: center;
    background: #fff;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

span.play {
    position: absolute;
    font-size: 30px;
    bottom: 0;
    line-height: 20px;
    color: #fff;
    left: 20px;
}

a:hover span.play {
    color: #ff6700;
}

li.video-item:hover {
    transform: translate3d(0, -5px, 0);
    box-shadow: 1px 2px 15px #ABABAB;
}

h3.title {
    margin-bottom: 6px;
}

p.desc {
    font-size: 12px;
    color: #b0b0b0;
}

.figure-img {
    margin-bottom: 28px;
    position: relative;
}
